# IP privada de MV-DB
DB_HOST=10.0.1.50

# IP privada de MV1
MV1_HOST=10.0.1.51

# AWS — S3 y Athena
S3_BUCKET=utecrate-analytics-data
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
ATHENA_DATABASE=utecrate
