# IPs privadas de los otros servicios
MV1_HOST=10.0.1.51
MV2_HOST=10.0.1.52
DB_HOST=10.0.1.50

# AWS
S3_BUCKET=utecrate-analytics-data
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
