# ================================================================
# MV Ingesta — .env de producción
# ================================================================

DOCKERHUB_USERNAME=tu_usuario_dockerhub

# IP privada de MV-DB
DB_HOST=10.0.1.50

# AWS
S3_BUCKET=utecrate-analytics-data
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=TU_ACCESS_KEY_REAL
AWS_SECRET_ACCESS_KEY=TU_SECRET_KEY_REAL
