SERVICE_NAME=reviews
# FIX: MongoDB, no PostgreSQL
SOURCE_DB_URL=mongodb://localhost:27017
MONGO_DB=reviews_db
COLLECTION=calificaciones
AWS_REGION=us-east-1
S3_BUCKET=utecrate-analytics-data
S3_PREFIX=raw
